# Dependencies
node_modules/
.pnp
.pnp.js


# Build output
dist/
dist-ssr/
*.local

# OS files
.DS_Store
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.s?
*.sln
*.suo
.ntvs*
!.vscode/extensions.json



# Environment variables
.env
.env.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

#Solid Server Stuff
.solid-server/

# production
/build

# Logs   misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# New environment variables
.env.*

# New logs
pnpm-debug.log*
lerna-debug.log*

# New editor directories and files
.njsproj

